*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(th.jpg);
    background-size: cover;
    /* background-position: center; */
    font-family: Arial,sans-serif;
    color: white;
}
.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
    
}
.menu-bar ul{
    list-style: none;
    display: inline-flex;
}
.menu-bar ul li{
    width: 120px;
    padding: 15px;
    margin: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}
.fa-brands, .fas{
    margin-right: 8px;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    border-radius: 0px;
    text-align: center;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    color: aqua;
}