*{
	margin: 0px;
	padding: 0px;
}
body
{
	background-image: url("img4.jpg");
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}
.menu_bar
{
	background: rgb(0,100,0);
	text-align: center;
}
.menu_bar ul{
	display: inline-flex;
	list-style-type: none;
	color: #fff;
}
.menu_bar ul li {
	width: 120px;
	margin: 15px;
	padding: 15px;

}
.menu_bar ul li a{
	text-decoration: none;
	color: #fff;
}
.active, .menu_bar ul li:hover{
	background-color: #2bab0d;
	border-radius: 2px;
}